
@media (max-width: 860px) {
    .pattern-center-blank {
        padding-top: 75px;
    }
}
@media (max-width: 860px) {
    i.iconfont.js-toggle-search.iconsearch {
        color: #000;
    }
}
@media (max-width: 860px) {
    .openNav .icon:before, .openNav .icon:after {
        transition-duration: .5s;
        background-color: #000;
        position: absolute;
        content: "";
        width: 30px;
        height: 3px;
        left: 0;
    }
}
@media (max-width: 860px) {
    .openNav .icon {
        transition-duration: .2s;
        position: absolute;
        width: 30px;
        height: 3px;
        background-color: #000;
        top: 24px;
        left: 10px;
    }
}